body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#text-container {
    text-align: center;
    font-size: 24px;
}

#load-file-button {
    font-size: 18px; 
    padding: 10px 20px; 
    width: 100%; 
    height: auto; 
    max-width: 300px; 
    box-sizing: border-box; 
}
